/* 点击之前的样式，可删除*/
a {
    color: #f30;
    text-decoration: underline;
    padding: 6px 0;
}
 /* 点击之后的样式，*/
a:hover {
    color: #f30;
    text-decoration: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23FA7298' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
    background-size: 20px auto;
    animation: waveMove 1s infinite linear;
}/* stroke 颜色  代码中的stroke='%23333'这部分，'%23'就是就是#，因此，stroke='%23333'其实就是stroke='#333'的意思*/
 /* 调整出现*/
@keyframes waveMove {
    from {
        background-position: 0 100%;
    }
    to {
        background-position: -20px 100%;
    }
}